<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> | Cinematch</title>
    <%- include('partials/head') %>
</head>

<body>
   <header>
        <%- include('partials/detailheader') %>
    </header>
    <main>

        <button onclick="history.back()" class="back-button">
            <img src="../images/icoon-pijl-wit.svg" alt="witte pijl naar rechts" aria-hidden="true">
            Terug
        </button>

        <section class="movie-hero">

            <img class="movie-poster" src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="<%= movie.title %>">
            

            <section class="movie-info">
                <h1><%= movie.title %></h1>

                <p class="movie-meta">
                    <%= movie.release_date.slice(0,4) %> • 
                    <%= movie.runtime %> min • 
                    <%= movie.genres.slice(0,2).map(g => g.name).join(' / ') %>
                </p>

                <div class="movie-description">
                    <h3>Beschrijving</h3>
                    <p><%= movie.overview %></p>
                </div>

                <!-- bekijken -->
                <form action="/recentlyWatched/toggle" method="POST">
                    <input type="hidden" name="movieId" value="<%= movie.id %>" >

                    <button type="submit" class="watch-button <%= isInWatched? 'active' : '' %>" aria-label="Voeg toe aan recent bekeken" aria-pressed="<%= isInWatched %>" >
                        <%= isInWatched ? 'Bekeken' : 'Ik ga deze kijken!' %>
                    </button>

                </form>

            </section>

            <div class="movie-actions">

                <!-- FAVORIETEN -->
                <form action="/favorites/toggle" method="POST">
                    <input type="hidden" name="movieId" value="<%= movie.id %>">

                    <button type="submit" class="save-button <%= isInFavorites ? 'active' : '' %>" aria-label="Voeg toe aan favorieten" aria-pressed="<%= isInFavorites %>">

                        <img src="/images/favoriet.svg" alt="" aria-hidden="true" 
                            class="<%= isInFavorites ? 'active-icon' : '' %>">

                        <%= isInFavorites ? 'Opgeslagen in favorieten' : 'Voeg toe aan favoriet' %>

                    </button>
                </form>

                <!-- WATCHLIST -->
                <form action="/watchlist/toggle" method="POST">
                    <input type="hidden" name="movieId" value="<%= movie.id %>">

                    <button type="submit" class="save-button <%= isInWatchlist ? 'active' : '' %>" aria-label="Voeg toe aan watchlist" aria-pressed="<%= isInWatchlist %>">

                        <img src="/images/watchlater.svg" alt="" aria-hidden="true"
                            class="<%= isInWatchlist ? 'active-icon' : '' %>">

                        <%= isInWatchlist ? 'Opgeslagen in watchlist' : 'Voeg toe aan watchlist' %>

                    </button>
                </form>
            </div>
            <img class="background-dots" src="../images/movie-background.png" alt="info background" aria-hidden="true">
        </section>

    </main>

    <section class="movie-stats">

        <section class="stat">

            <h3>Rating</h3>

            <div class="stat-box">

                <img src="../images/star.svg" alt="star" icon aria-hidden="true"> 
                <p><%= movie.vote_average.toFixed(1) %> /10 <br>
                    <span class="vote-count">
                        <%= movie.vote_count %> votes
                    </span>
                </p>
            </div>

        </section>


        <section class="stat">

            <h3>Popularity</h3>

            <div class="stat-box">

               <img src="../images/popularity.svg" alt="popularity" icon aria-hidden="true"> 
                <p><%= Math.round(movie.popularity) %></p>

            </div>

        </section>

    </section>

    <section class="movie-extra">

        <div class="watch-section">
            <h2>Waar te kijken</h2>

            <% if (providers.length === 0) { %>

                <p>Niet beschikbaar</p>

            <% } else { %>

                <% providers.forEach(p => { %>

                    <div class="provider-row">

                        <img src="https://image.tmdb.org/t/p/w45<%= p.logo_path %>" alt="<%= p.provider_name %>" loading="lazy">

                        <div>
                            <h3><%= p.provider_name %></h3>
                            <p>Nu beschikbaar</p>
                        </div>

                        <a href="#" class="primary-button kijken">Kijken</a>

                    </div>

                <% }) %>

            <% } %>
        </div>

        <div class="movie-details">

            <div class="detail-block">
                <h3>Director</h3>
                <p><%= director %></p>
            </div>

            <div class="detail-block">
                <h3>Writers</h3>
                <p><%= writers.join(', ') %></p>
            </div>

            <div class="detail-block">
                <h3>Top actors</h3>
                <p><%= actors.join(', ') %></p>
            </div>

        </div>

    </section>

    <section id="trailer-section">
        <% if (trailer) { %>

            <div class="trailer">
                <iframe title="trailer"
                    width="100%" 
                    height="400"
                    src="https://www.youtube.com/embed/<%= trailer.key %>"
                    loading="lazy"
                    frameborder="0"
                    allowfullscreen>
                </iframe>
            </div>

        <% } %>
    </section>

    <section class="recommendations">

        <h2>Vergelijkbare films</h2>

        <div class="movie-grid">

            <% recommendations.forEach(movie => { %>

            <a href="/movie/<%= movie.id %>" class="movie-card">

                <img src="https://image.tmdb.org/t/p/w200<%= movie.poster_path %>" alt="<%= movie.title %>" loading="lazy">

                <h3><%= movie.title %></h3>

            </a>

            <% }) %>

        </div>

    </section>

    <footer>
        <%- include('partials/footer') %>
    </footer>

    
    
</body>
</html>